.header__link {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.94px;
  color: black;
  cursor: pointer;
  text-decoration: none;
  transition: .8s;
  padding: 0 0 0 3px;
  margin: 0;
}

.header__link:hover {
  opacity: 0.6;
}